appdirs==1.4.3
asgiref==3.2.3
cycler==0.10.0
distlib==0.3.0
Django==3.1.9
django-richtextfield==1.5.0
filelock==3.0.12
importlib-metadata==1.5.0
Jinja2==2.11.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.0
MouseInfo==0.1.2
numpy==1.18.1
packaging==20.1
Pillow==7.0.0
psycopg2==2.8.4
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyparsing==2.4.6
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
PyYAML==5.3
selenium==3.141.0
six==1.14.0
sqlparse==0.3.0
tornado==6.0.3
urllib3==1.25.8
virtualenv==20.0.13
webbot==0.1.4
zipp==3.1.0
